@media (max-width: 1366px) {
    .container {
        .block-nav__full-head_navigation {
            width: 500px;
        }

        .block-about {
            h1 {
                margin-bottom: 25px;
                padding: 0px;
            }

            &__info {

                &_content {

                    padding: 0px 50px 30px 50px;

                    p {
                        font-size: 20px;
                    }
                }
            }

            &__team {
                padding: 10px 20px;

                &_content {
                    padding: 0px 0px;
                    height: auto;

                    &-desc {
                        flex: 0.8;

                        p {
                            letter-spacing: 0px;
                            font-size: 16px;
                        }

                        h5 {
                            font-size: 1.1em;
                            margin: 5px 0px;
                        }
                    }

                    &-foto {

                        height: auto;

                    }
                }

            }

        }

        .post {
            &__project-info {
                padding: 100px 20px 0px 20px;

            }
        }
    }
}

@media (max-width: 1024px) {
    .container {

        .block-nav {
            margin-bottom: 45px;

            &__full-head {
                &_logotype {
                    left: 20px;

                    img {
                        width: 150px;
                    }
                }

                &_navigation {
                    width: 400px;

                    &-link {
                        font-size: 15px;
                        flex: auto;
                    }
                }

                &_categories {
                    transform: none !important;
                    bottom: -45px;
                    opacity: 1 !important;
                }
            }
        }

        .block {
            &__content {
                &_post {
                    width: 48%;
                }
            }
        }

        .block-footer {
            &__row {
                padding: 0px 20px;

                &_adress {
                    width: 330px;
                }
            }
        }

        .block-home {
            &__slider {
                height: calc(100vh - 115px);
            }

            &__info {
                &_content {
                    padding: 0px 20px 30px 20px;

                    p {
                        font-size: 20px;
                    }
                }
            }
        }

        .block-about {
            h1 {
                margin-bottom: 25px;
                width: 100%;
            }

            &__info {

                &_content {
                    padding: 0px 50px 30px 50px;

                    p {
                        font-size: 20px;
                    }
                }
            }

            &__team {
                padding: 10px 20px;

                &_content {
                    padding: 0px 0px;
                    width: auto;
                    height: auto;

                    &-desc {
                        font-size: 14px;

                        p {
                            line-height: 1.3em;
                            letter-spacing: 0px;
                        }

                        h5 {
                            font-size: 1.1em;
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }

        .block-contacts {
            height: calc(100vh - 265px);

            &__adress {
                padding: 0px 0px 0px 15px;

                span {
                    font-size: 16px;
                }
            }
        }

        .block-cat {
            &__item {
                &:first-child {
                    // margin-top: 45px;
                    height: calc(100vh - 115px);
                }
            }
        }

        .post {
            &__project-info {
                padding: 50px 20px 0px 20px;

                &_article {
                    padding-top: 15px;

                    &-text {
                        font-size: 16px;
                    }

                    &-foto {
                        margin-right: 15px;
                        background-position: 0px 5px;
                        min-height: 250px;
                    }

                    .ml {
                        margin-left: 15px;
                    }
                }
            }

            &__project-foto {
                height: calc(85vh - 115px);
                font-size: 40px;

                &_title {
                    strong {
                        font-size: inherit;
                    }
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .container {

        .block-nav {
            margin-bottom: 30px;
            height: 40px;

            &__full-head {
                &_logotype {
                    left: 15px;

                    img {
                        width: 120px;
                    }
                }

                &_navigation {

                    &-link {
                        font-size: 14px;
                        flex: auto;
                        flex: 1;

                        span {
                            line-height: 30px;
                        }
                    }
                }

                &_categories {
                    transform: none !important;
                    bottom: -30px;
                    height: 30px;
                    opacity: 1 !important;

                    .border-line {
                        max-height: 90%;
                        width: 2px;
                    }

                    span {
                        font-size: 10px;
                    }
                }

                &_share {
                    right: 15px;
                    width: 120px;
                }
            }
        }

        .block {
            &__content {
                &_post {
                    width: 48%;
                    margin-top: 15px;

                    &-background {
                        font-size: 12px;
                    }
                }
            }
        }

        .block-footer {
            &__row {
                padding: 0px 10px;

                &_adress {
                    padding: 10px 0px 15px;
                    font-size: 10px;
                    width: 275px;
                    margin-right: 0px;
                }

                &_follow {
                    padding: 10px 0px 15px;

                    img {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }

        .block-home {
            &__slider {
                height: calc(100vh - 70px);

                &_canvas {
                    // .slide {
    
                    // }
                    .owl-nav {

                        .owl-prev,
                        .owl-next {
                            span {
                                font-size: 100px;
                            }
                        }
                    }
                }
            }

            &__info {
                &_content {
                    margin-top: 15px;
                    padding: 0px 10px 15px 10px;

                    p {
                        font-size: 12px;
                    }

                    .middle-row {
                        width: 100%;
                        font-size: 11px;
                    }
                }
            }
        }

        .block-about {
            h1 {
                margin-bottom: 15px;
                width: 100%;
                font-size: 30px;
            }

            &__slider {
                &_canvas {
                    // .slide {
    
                    // }

                    .owl-nav {

                        .owl-prev,
                        .owl-next {
                            span {
                                font-size: 100px;
                            }
                        }
                    }
                }
            }

            &__info {

                &_content {
                    padding: 0px 20px 30px 20px;
                    margin-bottom: 20px;

                    p {
                        font-size: 12px;
                    }
                }
            }

            &__team {
                padding: 10px 20px;

                &_content {
                    padding: 0px 0px;
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;

                    &-desc {
                        font-size: 12px;
                        margin: auto;
                        width: 80%;

                        p {
                            line-height: 1.3em;
                            letter-spacing: 0px;
                            font-size: 13px;
                        }

                        h5 {
                            font-size: 0.9em;
                            margin: 5px 0px;
                        }
                    }

                    &-foto {
                        flex: 0.6;
                        background-size: contain;
                        min-height: 0px;
                        height: 450px;
                    }
                }
            }
        }

        .block-contacts {
            height: calc(100vh - 195px);

            &__adress {
                padding: 0px 0px 0px 15px;

                span {
                    font-size: 11px;
                    line-height: 15px;
                }
            }
        }

        .block-cat {
            &__item {
                &:first-child {
                    // margin-top: 45px;
                    height: calc(100vh - 115px);
                }
            }
        }

        .post {
            &__project-info {
                padding: 50px 20px 0px 20px;

                &_article {
                    padding-top: 15px;

                    &-text {
                        font-size: 16px;
                    }

                    &-foto {
                        margin-right: 15px;
                        background-position: 0px 5px;
                        min-height: 250px;
                    }

                    .ml {
                        margin-left: 15px;
                    }
                }
            }

            &__project-foto {
                height: calc(85vh - 115px);
                &_title{
                    font-size: 20px;
                    
                }
                &_title {
                    strong {
                        font-size: inherit;
                    }
                }
            }
        }

    }
    .popup-center-show{
        .owl-nav{
            height: 70%;
            span{
                font-size: 80px;
            }
        }
    }
}

@media (max-width: 640px) {}