@import "_var";
@import "_reset";
.block-nav {
    @include border( 0px, 0px, 1px, 0px, solid, grey);
    height: 70px;
    box-sizing: border-box;
    background-color: #e2f8f1;
    position: relative;
    &__full-head {
        padding: 15px 0px;
        margin: auto;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        &_logotype {
            float: left;
            height: 100%;
            padding-left: 10px;
            display: flex;
            z-index: 10;
            margin-right: 40px;
            img {
                width: 250px;
                margin: auto auto;
            }
        }
        &_navigation {
            display: flex;
            justify-content: space-around;
            width: 600px;
            height: 100%;
            &-link {
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                color: #242424;
                white-space: nowrap;
                flex: 1;
                max-width: 300px;
                height: 100%;
                display: flex;
                span {
                    letter-spacing: 2px;
                    margin: auto auto;
                }
            }
            &-link:hover,
            &-link:active {
                font-weight: 700;
                outline: 0px;
            }
        }
    }
}

@import "_adaptive";