@import "_var";
@import "_reset";
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';
.block-nav {
    @include border( 0px, 0px, 1px, 0px, solid, grey);
    height: 70px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    &__full-head {
        padding: 15px 10px;
        margin: auto;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        &_logotype {
            position: absolute;
            top: 0;
            left: 35px;
            height: 100%;
            display: flex;
            z-index: 10;
            margin-right: 40px;
            img {
                width: 250px;
                margin: auto auto;
                filter: grayscale(1);
                transition: all 1000ms ease-out;
            }
            img:hover {
                filter: grayscale(0);
            }
        }
        &_navigation {
            display: flex;
            justify-content: space-around;
            width: 600px;
            height: 100%;
            &-link {
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                color: #242424;
                white-space: nowrap;
                flex: 1;
                max-width: 300px;
                height: 100%;
                display: flex;
                font-family: 'GothamProRegular', 'GothamProBold', sans-serif;
                font-weight: 100;
                span {
                    letter-spacing: .05em;
                    margin: auto auto;
                }
            }
            &-link:hover,
            &-link:active {
                font-weight: 900;
                outline: 0px;
            }
        }
        &_share {
            position: absolute;
            top: 0;
            right: 35px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 220px;
            a {
                display: flex;
            }
            .language-change {
                cursor: pointer;
                float: right;
                border-left: 1px solid black;
                padding-left: 15px;
                letter-spacing: 2px;
            }
            .language-change:hover {
                font-weight: 900;
            }
        }
    }
}

.block-about {
    display: flex;
    flex-flow: column wrap;
    &__slider {
        height: calc(80vh - 70px);
        overflow: hidden;
        position: relative;
        &_canvas {
            width: 100vw;
            max-height: inherit;
            .slide {
                max-height: inherit;
                img {
                    opacity: 0.4;
                }
                .slide__title {
                    position: absolute;
                    z-index: 200;
                    bottom: 0;
                    left: 0;
                    padding: 55px 35px;
                }
            }
        }
    }
    &__info {
        &_content {
            width: 33%;
        }
    }
}

@import "_adaptive";